<footer class="main-footer">

    <div class="main-footer--primary">
        <div class="main-footer--primary--img-box">
            <img src="/images/acm-logoo.png" alt="" class="acm-logo-img">
            <img src="/images/sigapp.png" alt="" class="sigapp-text-img">
        </div>
    </div>

    <div class="main-footer--secondary">

        <div class="main-footer--secondary-box">
            <i class="fas fa-server footer-logo"></i>
            <p>
                ~ Developed and Designed by <span class="footer-dev-name">{ Mushfiqur Ranhman Chowdhury }</span>
            </p>

        </div>

        <div class="main-footer--secondary-box">
            <i class="fas fa-lightbulb footer-logo"></i>
            <p>
                 ~ Designed by <span class="footer-dev-name">{ Lubba Saha }</span>
            </p>
        </div>
    </div>

</footer>