<nav class="main-nav-bar">
    <div class="main-nav-bar--link-box">

        <div class="main-nav-bar--link-box--logo-box">
            <a href="/">
                <img src="/images/hero-logo.png" alt="main-logo" class="main-nav-bar--link-box--logo-box--logo">
            </a>
        </div>

        <div class="main-nav-bar--link-box--links">
            <ul class="main-nav-bar--link-box--links-list">
                <li class="main-nav-bar--link-box--links-list--item">
                    <a href="/">
                        <img src="/images/house.svg" class="main-nav-bar--link-box--links-list--item-icon">
                        <span class="main-nav-bar--link-box--links-list--item-icon-text">
                            Home
                        </span>
                    </a>
                </li>
                <li class="main-nav-bar--link-box--links-list--item">
                    <a href="/forum">
                        <img src="/images/content.svg" class="main-nav-bar--link-box--links-list--item-icon">
                        <span class="main-nav-bar--link-box--links-list--item-icon-text">
                            Forum
                        </span>
                    </a>
                </li>
                <li class="main-nav-bar--link-box--links-list--item">
                    <a href="/blog">
                        <img src="/images/blogger-botton.svg"
                            class="main-nav-bar--link-box--links-list--item-icon">
                        <span class="main-nav-bar--link-box--links-list--item-icon-text">
                            Blog
                        </span>
                    </a>
                </li>
                <li class="main-nav-bar--link-box--links-list--item">
                    <a href="/event">
                        <img src="/images/planning.svg" class="main-nav-bar--link-box--links-list--item-icon">
                        <span class="main-nav-bar--link-box--links-list--item-icon-text">
                            Event
                        </span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="main-nav-bar--btn-box">

        <div class="main-nav-bar--btn-box--search-box">
            <form action="/search" method="GET" class="main-nav-bar--btn-box--search-box--form">
                <input class="main-nav-bar--btn-box--search-box--form-search" name="searchKey" placeholder="Search..." />
                <input type="hidden" name="active" value="blog">
                <button id="searchBtn"type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>

        
        <% if (userInfo.loggedIn) { %>

            <div class="main-nav-bar--btn-box--profile-info">

                <a href="#" onclick="openDropdown(event)" class="main-nav-bar--btn-box--profile-info--dropdown-link">
                    <img data-src="<%= headerInfo.avatar_url %>" 
                    class="main-nav-bar--btn-box--profile-info--img">
                    <span class="main-nav-bar--btn-box--profile-info--name"> Hi, <%= headerInfo.first_name %></span>

                    <div class="arrow-down"></div>

                    <div id="headerDropdownContent" class="main-nav-bar--btn-box--profile-info--dropdown-content">
                        <ul class="header-dropdown--list">
                            <li class="header-dropdown--list-item">
                                <a href="/profile/<%= userInfo.sessionData.uid %>">Profile</a>
                            </li>
                            <li class="header-dropdown--list-item">
                                <form action="/logout" method="POST">
                                    <input class="dropdown-logout-btn" type="submit" value="LOGOUT">
                                </form>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

        <% } else { %>

            <div class="main-nav-bar--btn-box--btn">
                <a href="/login" class="flat-slight-round-btn">LOG IN</a>
                <a href="/register" class="flat-slight-round-btn">Register</a>
            </div>

        <% } %>

    </div>

    <div class="mob-nav-container">
        <a href="#" id="mobNavBtn" class="mob-nav-btn">Menu</a>

        <nav class="mob-nav-drpdown">
            <div class="mob-nav-drpdown--list">
                <a href="/">Home</a>
                <a href="/forum">Forum</a>
                <a href="/blog">Blog</a>
                <a href="/event">Event</a>
            </div>

        </nav>
    </div>

</nav>

<script>
    
    let isDrpOpen = false;
    const dropdownContent = document.getElementById("headerDropdownContent");
    
    function openDropdown(event) {
        event.preventDefault();

        if (!isDrpOpen) {
            dropdownContent.classList.add("showDropdown");
            isDrpOpen = true;

        } else {
            dropdownContent.classList.remove("showDropdown");
            isDrpOpen = false;
        }
    }


</script>