<nav class="main-nav-bar">
    <div class="main-nav-bar--link-box">

        <div class="main-nav-bar--link-box--logo-box">
            <a href="/">
                <img src="/images/hero-logo.png" alt="main-logo" class="main-nav-bar--link-box--logo-box--logo">
            </a>

        </div>

        <div class="main-nav-bar--link-box--links">
            <ul class="main-nav-bar--link-box--links-list">
                <li class="main-nav-bar--link-box--links-list--item">
                    <a href="">
                        <img src="/images/house.svg" alt="" class="main-nav-bar--link-box--links-list--item-icon">
                        <span class="main-nav-bar--link-box--links-list--item-icon-text">
                            Home
                        </span>
                    </a>
                </li>
                <li class="main-nav-bar--link-box--links-list--item">
                    <a href="">
                        <img src="/images/content.svg" alt="" class="main-nav-bar--link-box--links-list--item-icon">
                        <span class="main-nav-bar--link-box--links-list--item-icon-text">
                            Forum
                        </span>
                    </a>
                </li>
                <li class="main-nav-bar--link-box--links-list--item">
                    <a href="">
                        <img src="/images/blogger-botton.svg" alt=""
                            class="main-nav-bar--link-box--links-list--item-icon">
                        <span class="main-nav-bar--link-box--links-list--item-icon-text">
                            Blog
                        </span>
                    </a>
                </li>
                <li class="main-nav-bar--link-box--links-list--item">
                    <a href="">
                        <img src="/images/planning.svg" alt="" class="main-nav-bar--link-box--links-list--item-icon">
                        <span class="main-nav-bar--link-box--links-list--item-icon-text">
                            Event
                        </span>
                    </a>
                </li>
                <li class="main-nav-bar--link-box--links-list--item">

                </li>
            </ul>
        </div>

    </div>

    <div class="main-nav-bar--btn-box">

        <div class="main-nav-bar--btn-box--search-box">
            <form class="main-nav-bar--btn-box--search-box--form">
                <input class="main-nav-bar--btn-box--search-box--form-search" placeholder="Search..." />
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i></button>
            </form>
             
        </div>

        
        <% if(userInfo.loggedIn){ %>
            <div class="main-nav-bar--btn-box--profile-info">
                <a href="" class="">
                    <img src="/images/abir-pp.jpg" alt="" 
                    class="main-nav-bar--btn-box--profile-info--img">
                    <span class="main-nav-bar--btn-box--profile-info--name"> Hi, Abir!</span>
                </a>

                <a href="">
                    <div class="arrow-down"></div>
                </a>
            </div>
        <% } else { %>

            <div class="main-nav-bar--btn-box--btn">
                <a href="/login" class="flat-slight-round-btn">LOG IN!</a>
                <a href="/register" class="flat-slight-round-btn">Register</a>
            </div>

        <% } %>

    </div>
</nav>