<div class="sign-in-modal">
    <div class="sign-in-modal--title-box">
        <h3 class="sign-in-modal--title-box--title">Sign In</h3>
        <a href="#" class="sign-in-modal--title-box--fpasswd-link">Forgot Password?</a>
    </div>

    <div class="sign-in-modal-form-container">
        <form class="sign-in-modal-form-container--form" action="" method="POST">
            <input type="text" class="sign-in-modal-form-container--form-input" placeholder="NSU ID">
            <input type="password" class="sign-in-modal-form-container--form-input" placeholder="Password">
            <div class="sign-in-modal-form-container--form-btn-group">
                <input class="sign-in-modal-form-container--form-btn-group--btn" type="submit" value="Sign In">
                <input class="sign-in-modal-form-container--form-btn-group--btn" type="submit" value="Sign Up" placeholder="Password">
            </div>
        </form>
    </div>
</div>