.page-title-box{

    &--heading-primary{
        font-weight: 700;
        font-size: 2.4rem;
        margin-bottom: $primaryHeadingMargin;

        @media only screen and(max-width: 460px){
            font-size: 2.1rem;
        }
    }

    &--heading-secondary{
        font-weight: 400;
        font-size: 1.9rem;

        @media only screen and(max-width: 460px){
            font-size: 1.7rem;
        }
    }

    &--center{
        text-align: center;
    }
}

.author-link{
    text-decoration: none;
    color: #5C83AA;
    font-weight: 700;
}

.main-content-title{
    text-decoration: underline;
    font-size: 2.5rem;

    @media only screen and(max-width: 550px){
        font-size: 2.2rem;
    }
}

.center-text{
    text-align: center;
}

.about-us-title{
    color: #5C83AA;
}

.about-us-para{
    line-height: 2.8rem;
    color: #535151;
}

.main-content--section--title{
    color: #374353;
    text-decoration: underline;
}
