<!DOCTYPE html>
<html lang="en">

<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>

<body>
    <%- include includes/header.ejs  %>

    <main class="main-content-post-view">

        <div class="main-post-content-wrapper">

            <div class="main-post--left">

                <div class="main-blog-cover">
                    <img class="main-blog-cover--img" src="/images/state.png" alt="">
                </div>

                <h1 class="main-blog--title">
                    Setting Cache-Control header for all Amazon S3 objects
                </h1>

                <div class="main-blog--content margin-top-small">
                    <p class="main-blog--content--paragraph">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi repellat excepturi officia ex
                        sed explicabo voluptates aliquid praesentium cupiditate reiciendis, suscipit voluptate et
                        doloremque unde? Hic doloribus distinctio tempora quod nisi sunt? Enim vel repellat error
                        aliquid? Sed, debitis voluptas aliquid commodi sunt, facere, cupiditate dolorem officiis iste
                        est suscipit.
                    </p>
                </div>
            </div>

            <div class="main-post--right">
                <div class="post-user-card">

                    <div class="post-user-card--author">

                        <div class="post-user-card--author-info">

                            <img src="/images/abir-pp.jpg" alt="profile-picture"
                                class="post-user-card--author-info--img">
                            <div class="post-user-card--author-info-name-box">
                                <p class="post-user-card--author-info-name-box--name">
                                    Abir Rahman
                                </p>
                                <a href="/" class="post-user-card--author-info-name-box--user-name">
                                    @SpaceKnight69
                                </a>
                            </div>

                        </div>

                        <p class="post-user-card--author-publish-date margin-top-small margin-gutter-small">
                            Posted On, 21st Feb, 2019
                        </p>

                        <h4 class="secondary-small-title">Categories</h4>

                        <div class="tag-pills-box margin-gutter-small">
                            <span class="tag-pills-box--pills">
                                Django
                            </span>

                            <span class="tag-pills-box--pills">
                                JavaScript
                            </span>

                        </div>
                    </div>

                    <div class="post-user-card-action-box margin-top-small">
                        <div class="action-icon-box">
                            <img class="action-icon-box--icon like-icon" src="/images/star.svg" alt="like-btn">
                            <span class="action-icon-box--count">12</span>
                        </div>

                        <div class="action-icon-box">
                            <img class="action-icon-box--icon" src="/images/question.svg" alt="comment-count">
                            <span class="action-icon-box--count">3</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="answer-wrapper margin-top-medium">
            <div class="main-post--answer-box">
                <div class="post-reply-box">
                    <h2 class="post-reply-box--title">
                        Comments
                    </h2>
                    <div class="post-reply-box--editor margin-top-small margin-gutter-small">

                        <form action="/" class="clearfix">
                            <textarea class="comment-editor" name=""></textarea>
                            <input class="post-reply-btn" value="Post Comment" type="submit">
                        </form>

                    </div>
                    <div class="post-reply-box--reply-container">
                        <div class="post-reply-box--reply-container--reply">
                            <div class="post-reply-box--reply-container--reply-username">
                                <a href="/" class="reply-author-link">
                                    @mrscx
                                </a>
                                <span class="reply-link">Reply</span>
                            </div>
                            <p class="post-content">
                                Hello this is vua answer by me
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="flex: 1;"></div>
        </div>

    </main>

    <%- include includes/footer.ejs %>

    <script src="/js/axios.js"></script>
</body>

</html>