<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include includes/header.ejs  %>

    

    <%- include includes/footer.ejs %>

</body>

</html>