<!DOCTYPE html>
<html lang="en">
<head>

    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>
<body>
    
    <%- include includes/header.ejs  %>

    <h1>forgot it again?</h1>

    <form action="/forgot-password">
        <input name="registered_email" type="email">
        <input type="submit">
    </form>
</body>
</html>