<!DOCTYPE html>
<html lang="en">
<head>

    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include includes/header.ejs  %>

    <main class="main-content">

        <div class="home-header">

            <div class="home-header--text-box">
                <h1 class="home-header--text-box--title">
                    <span class="home-header--text-box--title--main">Welcome to NSU ACM SIGAPP SC</span>
                    <span class="home-header--text-box--title--sub">A Community of Computer Enthusiasts</span>
                </h1>

                <div class="home-header--text-box--btn">
                    <a href="#" class="btn-home btn-home-header-light-dark">Check Our Events</a>
                </div>
            </div>

        </div>

        <div class="main-content--section-about">

            <h2 class="main-content--section--title margin-top-medium center-text">
                # About Us
            </h2>

            <div class="main-content--section-about--content  margin-top-small">

                <div class="main-content--section-about--content--left">

                    <h3 class="about-us-title margin-gutter-small">
                        You're going to fall in love with nature
                    </h3>

                    <p class="about-us-para">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur
                        libero
                        repellat quis consequatur
                        ducimus quam nisi exercitationem omnis earum qui.

                        You're going to fall in love with nature

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur
                        libero
                        repellat quis consequatur
                        ducimus quam nisi exercitationem omnis earum qui.

                    </p>
                </div>

                <div class="main-content--section-about--content--right">

                    <h3 class="event-header--blue margin-gutter-small">
                        Our Latest Event
                    </h3>

                    <div class="event-box margin-gutter-small">

                        <div class="event-box-img-container">
                            <img src="images/event1.png" alt="" class="event-box-img-container--img">
                        </div>

                        <div class="event-box--content">

                            <div class="event-box--content--title">

                                <a href="/" class="event-box--content--title--link">
                                    <h3># JavaScript 101 Workshop</h3>
                                </a>

                            </div>


                        </div>

                    </div>

                    <div class="event-box margin-gutter-small">

                        <div class="event-box-img-container">
                            <img src="images/event2.png" alt="" class="event-box-img-container--img">
                        </div>

                        <div class="event-box--content">

                            <div class="event-box--content--title">
                                <a href="/" class="event-box--content--title--link">
                                    <h3># Css 101 Workshop</h3>
                                </a>
                            </div>

                        </div>

                    </div>


                    <div class="event-box margin-gutter-small">

                        <div class="event-box-img-container">
                            <img src="images/event33.png" alt="" class="event-box-img-container--img">
                        </div>

                        <div class="event-box--content">

                            <div class="event-box--content--title">
                                <a href="/" class="event-box--content--title--link">
                                    <h3># php 101 Workshop</h3>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="faculty-advisor">
            <h2 class="main-content--section--title margin-top-medium margin-gutter-medium center-text">
                # Our Advisors
            </h2>

            <div class="faculty-advisor-box">
                <a href="" class="faculty-advisor-box--card floating-rounded--card">
                    <img src="images/presentation.svg" alt="" class="floating-rounded--card--img">
                    <h2 class="margin-top-small">Message From Advisor</h2>
                </a>
            </div>
        </div>

        <div class="home-officer">

            <h2 class="main-content--section--title margin-gutter-medium center-text">
                # Our Officers
            </h2>

            <div class="home-officer--box">
                
                <div class="home-officer--box--img-box">
                    <img src="images/abir.jpg" alt="" class="home-officer--box--img-box--img">
                </div>

                <div class="home-officer--box--info">

                    <h1 class="home-officer--box--info--name">Abu Mohammad Shabbir Khan</h1>
                    <h2 class="home-officer--box--info--designation">President</h2>
                    <p class="home-officer--box--info--description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, in itaque. Illum eligendi soluta
                        veritatis et quo nihil,
                        vel vitae facere eaque iure asperiores recusandae ex voluptatibus! Aperiam, libero sunt!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim repellat repudiandae magnam? Sed
                        quisquam laborum suscipit architecto rerum accusamus eligendi dicta, eius nulla iure illum vero
                        pariatur neque! Qui, magni!
                    </p>
                </div>

            </div>

            <div class="home-officer--box">

                <div class="home-officer--box--info">

                    <h1 class="home-officer--box--info--name">Abir Rahman</h1>
                    <h2 class="home-officer--box--info--designation">Vice-President</h2>
                    <p class="home-officer--box--info--description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, in itaque. Illum eligendi soluta
                        veritatis et quo nihil,
                        vel vitae facere eaque iure asperiores recusandae ex voluptatibus! Aperiam, libero sunt!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim repellat repudiandae magnam? Sed
                        quisquam laborum suscipit architecto rerum accusamus eligendi dicta, eius nulla iure illum vero
                        pariatur neque! Qui, magni!
                    </p>
                </div>

                <div class="home-officer--box--img-box">
                    <img src="images/abir.jpg" alt="" class="home-officer--box--img-box--img">
                </div>


            </div>

            <div class="home-officer--box">
                <div class="home-officer--box--img-box">
                    <img src="images/abir.jpg" alt="" class="home-officer--box--img-box--img">
                </div>

                <div class="home-officer--box--info">

                    <h1 class="home-officer--box--info--name">Zariff Ali</h1>
                    <h2 class="home-officer--box--info--designation">Treasurer</h2>
                    <p class="home-officer--box--info--description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, in itaque. Illum eligendi soluta
                        veritatis et quo nihil,
                        vel vitae facere eaque iure asperiores recusandae ex voluptatibus! Aperiam, libero sunt!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim repellat repudiandae magnam? Sed
                        quisquam laborum suscipit architecto rerum accusamus eligendi dicta, eius nulla iure illum vero
                        pariatur neque! Qui, magni!
                    </p>
                </div>

            </div>

            <div class="home-officer--box">

                <div class="home-officer--box--info">

                    <h1 class="home-officer--box--info--name">Nahian shiraj</h1>
                    <h2 class="home-officer--box--info--designation">Vice-President</h2>
                    <p class="home-officer--box--info--description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, in itaque. Illum eligendi soluta
                        veritatis et quo nihil,
                        vel vitae facere eaque iure asperiores recusandae ex voluptatibus! Aperiam, libero sunt!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim repellat repudiandae magnam? Sed
                        quisquam laborum suscipit architecto rerum accusamus eligendi dicta, eius nulla iure illum vero
                        pariatur neque! Qui, magni!
                    </p>
                </div>

                <div class="home-officer--box--img-box">
                    <img src="images/abir.jpg" alt="" class="home-officer--box--img-box--img">
                </div>


            </div>


        </div>

        <div class="neighbourhood">

            <h2 class="main-content--section--title margin-top-medium center-text margin-gutter-medium">
                # Our Neighbourhood
            </h2>

            <div class="neighbourhood--box">

                <a href="" class="floating-rounded--card">
                    <img src="images/acm-logo.jpg" alt="" class="floating-rounded--card--img">
                </a>

                <a href="" class="floating-rounded--card">
                    <img src="images/acm-w-logo.png" alt="" class="floating-rounded--card--img">
                </a>

                <a href="" class="floating-rounded--card">
                    <img src="images/sigbed-logo.png" alt="" class="floating-rounded--card--img">
                </a>
            </div>
        </div>

        <div class="home-join-box margin-gutter-medium">

            <a href="" class="home-join-box--link">

                <h2 class="home-join-box--link--text main-content--section--title center-text">
                    <i class="fas fa-link"></i>
                    Join_Us
                </h2>
            </a>
        </div>
    </main>


    <% if(userInfo.loggedIn){ %>
        <form action="/logout" method="POST">
            <button type="submit">LogOut</button>
        </form>
    <% } %>

</body>
</html>