<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .hello{
            text-align: center;
            color: crimson;
            font-size: 45px;
        }
    </style>
    <title>NSU ACM SIGAPP SC</title>
</head>
<body>
    <h1 class="hello">Hello World!</h1>

    <% if(userInfo.loggedIn){ %>
        <form action="/logout" method="POST">
            <button type="submit">LogOut</button>
        </form>
    <% } %>

</body>
</html>