<!DOCTYPE html>
<html lang="en">
<head>

    <%- include includes/meta.ejs  %>
    <style>
        .hello{
            text-align: center;
            color: crimson;
            font-size: 45px;
        }
    </style>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include includes/header.ejs  %>

    <h1 class="hello">Hello World!</h1>

    <% if(userInfo.loggedIn){ %>
        <form action="/logout" method="POST">
            <button type="submit">LogOut</button>
        </form>
    <% } %>

</body>
</html>