<!DOCTYPE html>
<html lang="en">

<head>
    <%- include includes/meta.ejs  %>

    <title>Home || NSU ACM SIGAPP SC</title>

</head>

<body>

    <%- include includes/header.ejs  %>

    <main class="main-content-new-login">
        <div class="login-box">

            <div class="login-box--img-box">
                <img class="login-box--img-box--img" data-src="./images/login-img-low.jpg" alt="login-img">
            </div>

            <div class="login-box-form-box">

                <h2 class="login-box-form-box--title">
                    Login
                </h2>

                <p class="login-box-form-box--quote">
                    "<%= quote %>"
                </p>

                <% if(error.length > 0){ %>
                    <div class="flash-message-container login-flash">
                        <div class="flash-box flash-box-error">
                            <h3 class="flash-box--title">Error</h3>
            
                            <ul class="flash-box--req flash-box--req-error">
                                <% if(error[0].invalidNsuId){ %>

                                    <li>Invalid NSU ID!</li>

                                <% }else if(error[0].userDoesNotExist){ %>

                                    <li>User does not exists!</li>

                                <% }else if(error[0].invalidPasswd){ %>

                                    <li>Invalid Password!</li>

                                <% }else if(error[0].passwordMisMatch){ %>

                                    <li>Password Doesn't Match!</li>

                                <% }else if(error[0].bannedUser){ %>

                                    <li>User Status: Deactivated!</li>

                                <% } %>
                            </ul>
                        </div>
                    </div>
                <% }else { %>

                <% } %>

                <form class="login-box-form-box--form" action="/login" method="POST">

                    <input class="login-box-form-box--form-input" name="nsu_id" type="text" placeholder="NSU ID">
                    <input class="login-box-form-box--form-input" name="password" type="password" placeholder="Password">
                    <input class="login-box-form-box--form-btn" type="submit" value="LOGIN">

                </form>
            </div>

        </div>
    </main>

    <%- include includes/lazy.ejs %>

</body>

</html>