<!DOCTYPE html>
<html lang="en">

<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>

<body class="yooo">

    <%- include includes/header.ejs  %>

    <canvas id="canvas"></canvas>

    <main class="login-page">
        <div class="login-box">
            
            <% if(error.length > 0){ %>
                <div class="flash-message-container">
                    <div class="flash-box flash-box-error">
                        <h3 class="flash-box--title">Error</h3>
        
                        <ul class="flash-box--req flash-box--req-error">
                            <% if(error[0].invalidNsuId){ %>
                                <li>Invalid NSU ID!</li>

                            <% }else if(error[0].userDoesNotExist){ %>
                                <li>User does not exists!</li>

                            <% }else if(error[0].invalidPasswd){ %>
                                <li>Invalid Password!</li>

                            <% }else if(error[0].passwordMisMatch){ %>
                                <li>Password Doesn't Match!</li>

                            <% }else if(error[0].bannedUser){ %>
                                <li>User Status: Deactivated!</li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            <% } %>

            <h1 class="login-box--title">login</h1>
            <form class="login-box--form" action="/login" method="POST">
                <div class="icon-input-box">
                    <i class="fas fa-id-badge"></i>
                    <input id="nsuID" type="text" name="nsu_id" placeholder="NSU ID">
                </div>

                <div class="icon-input-box">
                    <i class="fas fa-user-secret"></i>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <a href="/register" class="login-box-forgot-passwd-link login-box-forgot-passwd-link--left">Or Sign Up!</a>
                <a href="/forgot-password" class="login-box-forgot-passwd-link login-box-forgot-passwd-link--right">Forgot Password?</a>
                <input id="login" class="full-width-btn full-width-btn--black" type="submit" value="Login">
            </form>
        </div>
    </main>

    <script>
        var canvas = document.querySelector("canvas");
        var ctx = canvas.getContext("2d");

        var colors = ["blue", "#1e90ff"];

        //Setup width and height of canvas
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        function Circle(x, y, dx, dy, radius) {
            this.x = x;
            this.y = y;
            this.dx = dx;
            this.dy = dy;
            this.radius = radius;

            this.draw = function (color) {

                ctx.beginPath();
                ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
                ctx.strokeStyle = color;
                ctx.stroke();
            }

            this.update = function () {

                if (this.x + this.radius > innerWidth || this.x - this.radius < 0)
                    this.dx = -this.dx;
                if (this.y + this.radius > innerHeight || this.y - this.radius < 0)
                    this.dy = -this.dy;

                this.x += this.dx;
                this.y += this.dy;

                this.draw(colors[Math.floor(Math.random() * colors.length)]);
            }
        }

        // animate function;

        var circleArr = [];


        for (var i = 0; i < 100; i++) {

            var radius = 1;
            var x = Math.random() * (innerWidth - radius * 2) + radius; // <-- so that the circles do not get stuck at the corners;
            var y = Math.random() * (innerHeight - radius * 2) + radius;
            var dx = (Math.random() - 0.50) * 1; // x velocity;
            var dy = (Math.random() - 0.50) * 1; // y velocity;
            circleArr.push(new Circle(x, y, dx, dy, radius));
        }

        function animate() {
            requestAnimationFrame(animate);
            ctx.clearRect(0, 0, innerWidth, innerHeight);

            for (var i = 0; i < circleArr.length; i++) {
                circleArr[i].update();
            }
        }

        animate();
    
    </script>

    <!-- <script>
        (function(){

            let idFiel = document.getElementById("nsuID");

            document.getElementById("login").addEventListener(function(){

                if (!(idField.value.match(/^[01][0-9][0-3]\d{4}(\d{3})?$/))) {

                    message = "Invalid NSU ID!";
                    appendToErrorList(message);

                }
            });

        })();
    </script> -->
</body>

</html>