<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include includes/header.ejs  %>

    <main class="regisration-page">
        <div class="page-title-box">
            <h1 class="page-title-box--heading-primary">
                Join NSU ACM SIGAPP SC and be a part of the progress!
            </h1>

            <h2 class="page-title-box--heading-secondary">
                NSU ACM SIGAPP SC is a growing community of computer enthusiasts,<br>
                start your journey by registering below
            </h2>

            <div class="underline"></div>
        </div>
        <div class="registration-box">
            <form class="registration-box-form" action="POST">
                <div class="registration-box-form--input-paral">
                    <div class="icon-input-box">
                        <i class="fas fa-lock"></i>
                        <input type="text" name="first_name" placeholder="First Name">
                    </div>

                    <div class="icon-input-box">
                        <i class="fas fa-lock"></i>
                        <input type="text" name="last_name" placeholder="Last Name">
                    </div>
                </div>

                <div class="icon-input-box">
                        <i class="fas fa-lock"></i>
                        <input type="text" name="user_name" placeholder="user_name">
                </div>
            </form>
        </div>
    </main>

    <script src="js/listners.js"></script>
</body>
</html>
