<!DOCTYPE html>
<html lang="en">
<head>
    <%- include includes/meta.ejs  %>
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include includes/header.ejs  %>

    <main class="regisration-page">
        <div class="page-title-box">
            <h1 class="page-title-box--heading-primary">
                Join NSU ACM SIGAPP SC and be a part of the progress!
            </h1>

            <h2 class="page-title-box--heading-secondary">
                NSU ACM SIGAPP SC is a growing community of computer enthusiasts,<br>
                start your journey by registering below
            </h2>

            <div class="underline"></div>
        </div>
        
        <div class="registration-box">
            <form class="registration-box-form" id="registration-box-form" action="/register" method="POST">
                <div class="registration-box-form--input-paral">
                    <div class="icon-input-box">
                        <i class="fas fa-user"></i>
                        <input type="text" name="first_name" placeholder="First Name">
                    </div>

                    <div class="icon-input-box">
                        <i class="fas fa-user"></i>
                        <input type="text" name="last_name" placeholder="Last Name">
                    </div>
                </div>

                <div class="icon-input-box">
                    <i class="fas fa-hashtag"></i>
                    <input type="text" name="user_name" placeholder="Username">
                </div>

                <% if(error){ %>
                    <% if(errorMsg.userNameExists){ %>
                        <h4 class="error-flash">*Username Exists!</h4>
                    <% } %>
                <% } %>

                <div class="icon-input-box">
                    <i class="fas fa-id-badge"></i>
                    <input type="text" name="nsu_id" placeholder="NSU ID">
                </div>
                
                <% if(error){ %>
                    <% if(errorMsg.nsuIdExists){ %>
                        <h4 class="error-flash">*ID already Exists!</h4>
                    <% } %>
                <% } %>

                <div class="registration-box-form--input-paral">
                    <div class="icon-input-box">
                        <i class="fas fa-envelope"></i>
                        <input id="nsuMail" type="email" name="nsu_email" placeholder="NSU Email">
                    </div>

                    <div class="icon-input-box">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="alt_email" placeholder="Alternate Email">
                    </div>
                </div>

                <% if(error){ %>
                    <% if(errorMsg.emailExists){ %>
                        <h4 class="error-flash">*Email already in use!</h4>
                    <% } %>
                <% } %>

                <div class="registration-box-form--input-paral">
                    <div class="icon-input-box">
                        <i class="fas fa-user-secret"></i>
                        <input id="password" type="password" name="password" placeholder="Password">
                    </div>

                    <div class="icon-input-box">
                        <i class="fas fa-user-secret"></i>
                        <input id="re_password" type="password" name="re_password" placeholder="Re-Password">
                    </div>
                </div>

                <input id="registerBtn" type="submit" value="Register" class="full-width-btn full-width-btn--black">
                
            </form>
        </div>
    </main>

    <script src="js/listners.js"></script>
</body>
</html>
