<!DOCTYPE html>
<html lang="en">

<head>
    <%- include includes/meta.ejs  %>
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <%- include includes/header.ejs  %>
    
    <main class="regisration-page">
        <% if(regSuccess.length > 0 && regSuccess[0]){ %>
            <div class="reg-success-flash">
                <h2>Registration Successful!</h2>
                <h3>Redirecting in <span id="timer"></span> Or Click <a href="/">HERE</a></h3>

                <script type="text/javascript">

                    let countTo= 10;
                    const timer= setInterval(function(){

                        document.getElementById("timer").textContent= countTo + "...";
                        countTo--;

                        if (countTo == 0){
                            clearInterval(timer);
                            window.location.href= 'http://localhost:3000/';
                        }

                    },1000);
                </script>
            </div>

        <% }else{ %>
            <div class="page-title-box page-title-box--center">
                <h1 class="page-title-box--heading-primary">
                    Join NSU ACM SIGAPP SC and be a part of the progress!
                </h1>

                <h2 class="page-title-box--heading-secondary">
                    NSU ACM SIGAPP SC is a growing community of computer enthusiasts,<br>
                    start your journey by registering below
                </h2>

                <div class="underline"></div>
            </div>

            <div class="registration-box">
                <% if(error.length === 0){ %>
                    <div class="flash-message-container">
                        <div class="flash-box flash-box-success">
                            <h3 class="flash-box--title">Requirements</h3>

                            <ul class="flash-box--req flash-box--req-success">
                                <li>Username Must be between [03-32] characters long</li>
                                <li>Must provide a valid NSU ID</li>
                                <li>Must provide a valid NSU Email Address</li>
                            </ul>
                        </div>
                    </div>
                <% }else{ %>
                    <div class="flash-message-container">
                            <div class="flash-box flash-box-error">
                                <h3 class="flash-box--title">Error!</h3>
    
                                <ul class="flash-box--req flash-box--req-error">
                                        
                                    <% if(error[0].invalidName){ %>
                                        <li>Invalid Name!</li>

                                    <% }else if(error[0].invalidUserName){ %>
                                        <li>Username is too short or contains invalid characters!</li>

                                    <% }else if(error[0].invalidNsuId){ %>
                                        <li>Invalid NSU ID!</li>

                                    <% }else if(error[0].invalidNsuEmail){ %>
                                        <li>Invalid NSU Email!</li>

                                    <% }else if(error[0].invalidAltEmail){ %>
                                        <li>Invalid Alternate Email!</li>

                                    <% }else if(error[0].invalidPasswd){ %>
                                        <li>Password too short!</li>

                                    <% }else if(error[0].passwdMisMatch){ %>
                                        <li>Password Mismatch!</li>

                                    <% }else if(error[0].userNameExists){  %>
                                        <li>Username Exists!</li>
                                        
                                    <% }else if(error[0].emailExists){  %>
                                        <li>Email Exists!</li>

                                    <% }else if(error[0].nsuIdExists){  %>
                                        <li>Email Exists!</li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                <% } %>

                <div>
                    <form class="registration-box-form" id="registration-box-form" action="/register" method="POST">
                        <div class="common-form--input-paral">
                            <div class="icon-input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name="first_name" placeholder="First Name">
                            </div>
    
                            <div class="icon-input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name="last_name" placeholder="Last Name">
                            </div>
                        </div>
    
                        <div class="icon-input-box">
                            <i class="fas fa-hashtag"></i>
                            <input type="text" name="user_name" placeholder="Username">
                        </div>
    
                        <div class="icon-input-box">
                            <i class="fas fa-id-badge"></i>
                            <input type="text" name="nsu_id" placeholder="NSU ID">
                        </div>
    
                        <div class="common-form--input-paral">
                            <div class="icon-input-box">
                                <i class="fas fa-envelope"></i>
                                <input id="nsuMail" type="email" name="nsu_email" placeholder="NSU Email">
                            </div>
    
                            <div class="icon-input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" name="alt_email" placeholder="Alternate Email">
                            </div>
                        </div>

                        <div class="common-form--input-paral">
                            <div class="icon-input-box">
                                <i class="fas fa-user-secret"></i>
                                <input id="password" type="password" name="password" placeholder="Password">
                            </div>
    
                            <div class="icon-input-box">
                                <i class="fas fa-user-secret"></i>
                                <input id="re_password" type="password" name="re_password" placeholder="Re-Password">
                            </div>
                        </div>
    
                        <input id="registerBtn" type="submit" value="Register" class="full-width-btn full-width-btn--black">
    
                    </form>

                </div>

            </div>
        <% } %>
    </main>

    <script src="js/listners.js"></script>
</body>

</html>