@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

::selection {
  background: #5C83AA;
  color: #fff; }

html {
  font-size: 62.5%; }

body {
  font-family: "Quicksand",sans-serif;
  font-size: 1.6rem; }

.page-title-box--heading-primary {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 460px) {
    .page-title-box--heading-primary {
      font-size: 2.1rem; } }

.page-title-box--heading-secondary {
  font-weight: 400;
  font-size: 1.9rem; }
  @media only screen and (max-width: 460px) {
    .page-title-box--heading-secondary {
      font-size: 1.7rem; } }

.page-title-box--center {
  text-align: center; }

.author-link {
  text-decoration: none;
  color: #5C83AA;
  font-weight: 700; }

.main-content-title {
  text-decoration: underline;
  font-size: 2.5rem; }

.center-text {
  text-align: center; }

.about-us-title {
  color: #5C83AA; }

.about-us-para {
  line-height: 2.8rem;
  color: #535151; }

.margin-gutter-small {
  margin-bottom: 2rem; }

.margin-top-small {
  margin-top: 2rem; }

.margin-gutter-medium {
  margin-bottom: 5rem; }

.margin-gutter-small {
  margin-bottom: 2rem; }

.margin-top-medium {
  margin-top: 5rem; }

.margin-right-medium {
  margin-right: 5rem; }

.margin-left-medium {
  margin-left: 5rem; }

.margin-right-small {
  margin-right: 2rem; }

.underline {
  height: 2px;
  width: 100%;
  background: #333;
  margin: 1rem 0; }

.error-flash {
  color: crimson;
  font-size: 1.5rem;
  margin-top: -1rem;
  margin-bottom: 0.5rem; }

.main-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 1rem 0rem; }
  .main-nav-bar--link-box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-nav-bar--link-box--logo-box--logo {
      width: 24rem;
      margin-right: 1rem;
      margin-left: 1.8rem; }
    @media only screen and (max-width: 1150px) {
      .main-nav-bar--link-box--links {
        display: none; } }
    .main-nav-bar--link-box--links-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none; }
      .main-nav-bar--link-box--links-list--item a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: black; }
      .main-nav-bar--link-box--links-list--item-icon {
        height: 2.6rem;
        margin-right: 0.5rem;
        margin-left: 1.4rem; }
      .main-nav-bar--link-box--links-list--item-icon-text {
        font-size: 1.8rem; }
  .main-nav-bar--btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-nav-bar--btn-box--search-box {
      margin: 0; }
      .main-nav-bar--btn-box--search-box--form {
        display: flex;
        position: relative; }
        .main-nav-bar--btn-box--search-box--form-search {
          font-family: "Quicksand", sans-serif;
          border: none;
          outline: none;
          background: #D5DEEA;
          padding: 1.5rem 10rem 1.5rem 1rem;
          border-radius: 0.3rem;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
          transition: all 0.3s; }
          .main-nav-bar--btn-box--search-box--form-search:focus {
            border-color: #1e90ff;
            box-shadow: 0 0 0 0.2rem rgba(55, 67, 83, 0.5); }
        .main-nav-bar--btn-box--search-box--form .searchButton {
          position: absolute;
          right: 5%;
          top: 25%;
          font-size: 2rem;
          color: #647994;
          border: none;
          cursor: pointer;
          background: transparent; }
    .main-nav-bar--btn-box--btn {
      margin: 0rem 2rem; }
      .main-nav-bar--btn-box--btn a {
        display: inline-block;
        margin-right: 1rem; }
    .main-nav-bar--btn-box--profile-info {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .main-nav-bar--btn-box--profile-info a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #000; }
      .main-nav-bar--btn-box--profile-info--img {
        height: 4.5rem;
        width: 4.5rem;
        margin-left: 2.8rem;
        border-radius: 10%;
        object-fit: cover; }
      .main-nav-bar--btn-box--profile-info--name {
        font-size: 1.8rem;
        font-weight: 500;
        margin-left: 1rem;
        margin-right: 1rem;
        color: #000; }
      .main-nav-bar--btn-box--profile-info .arrow-down {
        width: 0;
        height: 0;
        border-left: 0.8rem solid transparent;
        border-right: 0.8rem solid transparent;
        border-top: 0.8rem solid black;
        margin-right: 4rem; }

.event-box {
  background: #D5DEEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .event-box-img-container--img {
    display: block;
    height: 10rem;
    width: 15rem; }
  .event-box--content--title--link {
    color: black;
    text-decoration: none; }

.flat-slight-round-btn {
  text-decoration: none;
  color: #fff;
  background: #1f2833;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.4s; }
  .flat-slight-round-btn:hover {
    background: #2C3E50; }

.full-width-btn {
  font-family: "Quicksand";
  font-size: 1.7rem;
  width: 100%;
  display: block;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s; }

.full-width-btn--black {
  background: #1f2833;
  color: #fff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); }
  .full-width-btn--black:hover {
    background: #2C3E50; }
  .full-width-btn--black:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3); }

.full-width-btn--black-raised {
  background: #1f2833;
  box-shadow: 3px 3px 0 #324153;
  color: #fff; }
  .full-width-btn--black-raised:hover {
    background: #293443;
    box-shadow: 2px 2px 0 #324153;
    transform: translate(2px, 2px); }
  .full-width-btn--black-raised:active {
    box-shadow: 3px 3px 0 transparent;
    box-shadow: none;
    transform: translate(3px, 3px); }

.narrow-solid-button {
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  font-weight: 700; }

.narrow-solid-button-light-dark {
  background: #374353;
  color: #fff;
  transition: all 0.2s; }
  .narrow-solid-button-light-dark:hover {
    background: #5C83AA; }

.narrow-solid-button-light {
  background: #5C83AA;
  color: #fff;
  transition: all 0.2s; }
  .narrow-solid-button-light:hover {
    background: #374353; }

.btn-home {
  text-decoration: none;
  padding: 1rem 2.3rem;
  border-radius: 5rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); }

.btn-home-header-light-dark {
  display: inline-block;
  background: linear-gradient(#374353, rgba(123, 143, 169, 0.58));
  color: #fff;
  margin-top: 3rem; }

.login-box-form-box--form-btn {
  border: none;
  outline: none;
  background: rgba(255, 165, 0, 0.8);
  padding: 1.2rem;
  color: #fff;
  border-radius: 3px;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  translate: all 0.3s; }
  .login-box-form-box--form-btn:hover {
    transform: translateY(0.5px);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }
  .login-box-form-box--form-btn:active {
    transform: translateY(2px); }

.sign-in-modal {
  border: 1px solid #FF4F4F;
  display: inline-block;
  padding: 1.5rem 0rem 0rem;
  border-radius: 1rem; }
  .sign-in-modal .sign-in-modal--title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1.5rem 2rem; }
    .sign-in-modal .sign-in-modal--title-box--title {
      background: #FF4F4F;
      color: #fff;
      padding: 0rem 0.3rem; }
    .sign-in-modal .sign-in-modal--title-box--fpasswd-link {
      font-weight: 700;
      text-decoration: none;
      color: black;
      border-bottom: 1px solid black;
      padding-bottom: 0.2rem; }
  .sign-in-modal-form-container--form-input {
    margin: 0rem 1.5rem 2rem;
    color: #fff;
    font-family: "Quicksand",sans-serif;
    font-size: 1.7rem;
    display: block;
    width: 92%;
    outline: none;
    border: none;
    padding: 1rem 0rem;
    padding-right: 15rem;
    padding-left: 1.5rem;
    background: #2E4053;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); }
    .sign-in-modal-form-container--form-input::placeholder {
      color: #fff;
      font-family: "Quicksand",sans-serif;
      font-size: 1.7rem; }
  .sign-in-modal-form-container--form-btn-group {
    display: flex;
    color: #fff;
    font-family: "Quicksand",sans-serif; }
    .sign-in-modal-form-container--form-btn-group a {
      text-align: center;
      text-decoration: none; }
    .sign-in-modal-form-container--form-btn-group--btn {
      color: #fff;
      font-family: "Quicksand",sans-serif;
      font-size: 1.7rem;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      display: inline-block;
      outline: none;
      border: none;
      width: 50%;
      padding: 1rem 0rem;
      box-shadow: 1px -1px 6px rgba(0, 0, 0, 0.25); }
    .sign-in-modal-form-container--form-btn-group--btn:not(:last-child) {
      margin-right: 0.3rem;
      border-bottom-left-radius: 0.95rem;
      background: #2ECC71; }
    .sign-in-modal-form-container--form-btn-group--btn:not(:first-child) {
      border-bottom-right-radius: 0.95rem;
      background: #1E90FF; }

.openSignInModal {
  display: block;
  opacity: 1; }

.icon-input-box:not(:last-child) {
  margin-right: 1rem; }
  @media only screen and (max-width: 460px) {
    .icon-input-box:not(:last-child) {
      margin-right: 0rem; } }

.icon-input-box {
  width: 100%;
  display: flex;
  margin-bottom: 1.5rem; }
  .icon-input-box i {
    background: #1f2833;
    color: #fff;
    padding: 1.5rem 2rem; }
  .icon-input-box input {
    width: 100%;
    padding: 1.5rem 2rem;
    outline: 0;
    border: 1px solid #333;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.3s; }
    .icon-input-box input:focus {
      border-color: #1e90ff;
      box-shadow: 0 0 0 0.2rem rgba(30, 144, 255, 0.5); }

.common-form--input-paral {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 460px) {
    .common-form--input-paral {
      flex-direction: column; } }

.flash-message-container .flash-box-success {
  background: linear-gradient(to bottom right, #B0DB7D 40%, #99DBB4 100%); }

.flash-message-container .flash-box-error {
  background: linear-gradient(135deg, #f0223e, #f34238); }

.flash-message-container .flash-box {
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 12px #cbcdd3;
  margin-bottom: 2rem; }
  .flash-message-container .flash-box--title {
    color: #FCFCFC;
    margin-bottom: 1rem; }
  .flash-message-container .flash-box--req {
    margin-left: 5%;
    list-style-type: none; }
    .flash-message-container .flash-box--req li {
      font-weight: bold; }
    .flash-message-container .flash-box--req li::before {
      content: "\2714\0020";
      color: #FCFCFC; }
  .flash-message-container .flash-box--req-success {
    background: linear-gradient(to right, #1E90FF, rgba(128, 53, 187, 0.5));
    color: transparent;
    -webkit-background-clip: text; }
    .flash-message-container .flash-box--req-success li::before {
      content: error "✔ ";
      color: #1e90ff;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1rem; }
  .flash-message-container .flash-box--req-error {
    color: yellow; }
    .flash-message-container .flash-box--req-error li::before {
      content: "x";
      color: red;
      background: #FCFCFC;
      display: inline-block;
      text-align: center;
      height: 23px;
      width: 23px;
      border-radius: 50%;
      margin-right: 1rem;
      margin-bottom: 1rem; }

.reg-success-flash {
  background: linear-gradient(to bottom right, #B0DB7D 40%, #99DBB4 100%);
  color: #FCFCFC;
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 12px #cbcdd3; }

.main-content .home-header {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/hero-img.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-content .home-header--text-box--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    .main-content .home-header--text-box--title--main {
      font-size: 3rem;
      color: white; }
    .main-content .home-header--text-box--title--sub {
      font-size: 2.3rem;
      color: white;
      font-weight: 400; }
  .main-content .home-header--text-box--btn {
    display: flex;
    justify-content: center; }

.main-content--section-about--title {
  color: #374353;
  text-decoration: underline; }

.main-content--section-about--content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem; }
  .main-content--section-about--content--left {
    flex: 1;
    margin-right: 5rem; }
  .main-content--section-about--content--right {
    flex: 1; }

.regisration-page {
  padding: 2rem;
  width: 51%;
  margin: 0 auto; }
  @media only screen and (max-width: 860px) {
    .regisration-page {
      width: 100%; } }

.registration-box {
  margin-top: 3rem;
  justify-content: space-evenly; }

.main-content-new-login {
  display: flex;
  justify-content: center;
  margin-top: 7rem; }
  @media only screen and (max-width: 1050px) {
    .main-content-new-login {
      padding: 0rem 3rem; } }
  @media only screen and (max-width: 750px) {
    .main-content-new-login {
      padding: 3rem;
      margin-top: 3rem; } }
  .main-content-new-login .login-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 750px) {
      .main-content-new-login .login-box {
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem; } }
    .main-content-new-login .login-box--img-box {
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem; }
      @media only screen and (max-width: 750px) {
        .main-content-new-login .login-box--img-box {
          display: none;
          border-top-left-radius: 0rem;
          border-bottom-left-radius: 0rem; } }
      .main-content-new-login .login-box--img-box--img {
        display: block;
        height: 45rem;
        width: 45rem;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        object-fit: cover; }
        @media only screen and (max-width: 1050px) {
          .main-content-new-login .login-box--img-box--img {
            height: 45rem;
            width: 35rem; } }
    .main-content-new-login .login-box-form-box {
      padding: 2.5rem; }
      .main-content-new-login .login-box-form-box--title {
        margin-bottom: 1rem;
        font-weight: normal;
        font-size: 4rem; }
      .main-content-new-login .login-box-form-box--quote {
        font-size: 1.8rem;
        font-style: italic;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 5rem; }
      .main-content-new-login .login-box-form-box--form {
        display: flex;
        flex-direction: column; }
        .main-content-new-login .login-box-form-box--form-input {
          font-family: "Quicksand", sans-serif;
          outline: none;
          border: 1px solid orange;
          border-radius: 4px;
          padding: 1.5rem 1rem;
          margin-bottom: 1.5rem;
          transition: all 0.3s; }
          .main-content-new-login .login-box-form-box--form-input:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.5); }

.login-flash {
  margin-top: -4rem; }

.main-content-forum {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 3rem;
  padding: 0rem 5rem; }
  @media only screen and (max-width: 600px) {
    .main-content-forum {
      padding: 0rem 1.5rem; } }
  .main-content-forum .forum-sidebar-categories {
    background: rgba(55, 67, 83, 0.1);
    padding: 1rem 2rem;
    overflow-y: scroll;
    height: 70vh; }
    @media only screen and (max-width: 600px) {
      .main-content-forum .forum-sidebar-categories {
        display: none; } }
    .main-content-forum .forum-sidebar-categories--title {
      display: inline-block;
      color: #5C83AA;
      text-decoration: underline; }
    .main-content-forum .forum-sidebar-categories--category {
      list-style-type: none; }
      .main-content-forum .forum-sidebar-categories--category-item {
        margin: 3rem 0rem; }
        .main-content-forum .forum-sidebar-categories--category-item a {
          text-decoration: none;
          color: #000;
          font-weight: 700;
          font-size: 1.8rem; }
  .main-content-forum .forum-questions-box {
    margin-left: 5rem;
    flex: 2; }
    @media only screen and (max-width: 600px) {
      .main-content-forum .forum-questions-box {
        margin-left: 0rem; } }
    .main-content-forum .forum-questions-box .title-create-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem; }
    .main-content-forum .forum-questions-box--card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 0.3rem;
      text-decoration: none;
      color: #000;
      padding: 1.5rem;
      margin-bottom: 3rem;
      transition: all 0.2s; }
      .main-content-forum .forum-questions-box--card:hover {
        transform: scale(1.03); }
      .main-content-forum .forum-questions-box--card-left {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .main-content-forum .forum-questions-box--card-left-title-box {
          font-size: 1.4rem; }
          .main-content-forum .forum-questions-box--card-left-title-box--cat-pills {
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .main-content-forum .forum-questions-box--card-left-title-box--cat-pills--pills {
              background: #1F2833;
              color: #fff;
              padding: 0.5rem;
              margin-right: 0.5rem;
              margin-top: 1rem;
              font-weight: 700; }
        .main-content-forum .forum-questions-box--card-left-icon-box {
          margin-left: 0.5rem; }
          .main-content-forum .forum-questions-box--card-left-icon-box--container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 1rem;
            margin-bottom: 1rem; }
            .main-content-forum .forum-questions-box--card-left-icon-box--container--icon {
              height: 3.5rem;
              margin-right: 2rem; }
          .main-content-forum .forum-questions-box--card-left-icon-box-count-box--count {
            margin-left: 1rem;
            margin-right: 2.7rem;
            font-weight: bold; }

.forum-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem; }
