
.admin-navbar{
    @include displayFlex(space-between, center);
    padding: 2.5rem 1.5rem;
    box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.25);
    font-family: "Quicksand", sans-serif;

    &-left{
        
        @include displayFlex(space-between, center);

        &-links{
            margin-left: 3rem;

            &--l{
                text-decoration: none;
                color: #1f2833;

                &:hover{
                    color: #EF8D9C;
                    text-decoration: underline;
                }
            }
        }

    }
}

.admin-main{

    padding: 2rem;
    @include displayFlex(space-between, flex-start);

    @media only screen and(max-width: 750px){
        flex-direction: column;
    }

    .admin-side-panel{

        flex: 1;
        margin-top: 1rem;

        @media only screen and(max-width: 750px){
            width: 100%;
            margin-bottom: 2rem;
        }

        &--box{
            box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.25);
            padding: 2rem 2.5rem;

            &-para:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }

    .admin-main-panel{

        margin-top: 1rem;
        margin-left: 5rem;
        flex: 3.3;

        @media only screen and(max-width: 750px){
            width: 100%;
            margin-top: 0rem;
            margin-left: 0rem;
        }

        &--action-box{

            @include displayFlex(flex-start, center);
            border-bottom: 1px solid #1f2833;
            padding-bottom: 3rem;
            margin-bottom: 1.5rem;

            @media only screen and(max-width: 750px){
                flex-direction: column;
            }

            .admin-action-card:not(:last-child){
                margin-right: 2rem;
                @media only screen and(max-width: 750px){
                    margin-right: 0rem;
                    margin-bottom: 1rem;
                }
            }

            .admin-action-card{
                background: #475993;
                color: #fff;
                text-decoration: none;
                border-radius: 0.5rem;
                box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.25);
                padding: 1rem 5rem;

                @media only screen and(max-width: 750px){
                    padding: 1rem 2rem;
                    font-size: 1.4rem;
                    width: 100%;
                }
            }
        }

        .admin-search-users{
            width: 100%;
            border: none;
            border-bottom: 1.5px solid rgba($color: #1f2833, $alpha: 0.50);
            outline: none;
            padding: 1.5rem 1rem;
            transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

            &:focus{
                border-bottom: 1.5px solid #1e90ff;
            }
        }
    }

}

.sub-header-title{
    font-weight: 400;
}

.sub-header-title-underline{
    display: inline-block;
    border-bottom: 1px solid #000;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.dark-btn{
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    background: #1f2833;
    padding: 0.5rem 1rem;

    &:hover{
        text-decoration: none;
        background: #2C3E50;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    
    @media only screen and(max-width: 750px){
        overflow-x: scroll;
        font-size: 1.3rem;
    }

    .disabled{
        color: crimson;
        font-weight: bold;
    }

    .active{
        color: #51E71E;
        font-weight: bold;   
    }
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;

    a{
        color: #1e90ff;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

tr:nth-child(even) {background-color: #f2f2f2;}

.security-container{

    margin-bottom: 1rem;

    &--btn{
        background: crimson;
        color: #fff;
        outline: none;
        border: none;
        padding: 1rem 1.5rem;
        box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.25);
        cursor: pointer;
        border-radius: 5px;
    }
}