
.create-forum-wrapper{
    padding: 5rem 20rem;

    input{
        font-family: "Quicksand", sans-serif;
    }

    &--form{
        margin-top: 3rem;

        &--label{
            display: inline-block;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .input-container-paral{
            @include displayFlex(flex-start, center);

            &--icon{
                font-size: 2rem;
                font-weight: 600;
                padding: 1.07rem;
                border: 1px solid #B0DB7D;
            }
            
            &--input{
                background: rgba(153, 153, 153, 0.274);
                width: 100%;
                padding: 1.5rem;
                border: 1px solid #1e90ff;
                border-left: none;
                outline: none;
            }
        }
    }
}