.home-header{

    background: url(../images/wallhaven-700506.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    @include displayFlex(center,center);

    &--text-box{

        &--title{
            @include displayFlex(space-between,center);
            flex-direction: column;

            &--main{
                font-size: 3rem;
                color: white;
            }

            &--sub{
                font-size: 2.3rem;
                color: white;
                font-weight: 400;
            }
        }

        &--btn{
            display:flex;
            justify-content:center;
        }

    }

}