.main-content{

    .home-header{
    
        @include displayFlex(center,center);
        background: linear-gradient(
            to right bottom,
            rgba(#fff,0.2),rgba(#fff,0.2)
        ), url(../images/hero-img.jpg);
        height: 80vh;
        background-size: cover;
        background-position: center;
    
        &--text-box{
    
            &--title{
                @include displayFlex(space-between, center);
                flex-direction: column;
    
                &--main{
                    font-size: 3rem;
                    color: white;

                    @media only screen and(max-width: 750px){
                        font-size: 2.2rem;
                    }
                }
    
                &--sub{
                    font-size: 2rem;
                    color: white;
                    font-weight: 400;

                    @media only screen and(max-width: 750px){
                        font-size: 1.8rem;
                    }
                }
            }
    
            &--btn{
                display:flex;
                justify-content:center;
            }
    
        }
    
    }

    &--section-about{

        &--content{

            @include displayFlex(space-around, flex-start);
            padding: 5rem;

            @media only screen and(max-width: 600px){
                flex-direction: column;
                padding: 3rem;
                justify-content: center;
            }
            
            &--left{

                flex: 1;
                margin-right: 5rem;

                @media only screen and(max-width: 600px){
                    margin-right: 0rem;
                    margin-bottom: 2rem;
                }
                
            }

            &--right{

                flex: 1;
            }
        }
    }

    .faculty-advisor{

        &-box{
            @include displayFlex(center, center);

            @media only screen and(max-width: 600px){
                width: 80%;
                margin: auto;
            }
            
            &--card{
                color: #374353;
                text-decoration: none;
                @include displayFlex(center, center);
                flex-direction: column;

                h2{
                    @media only screen and(max-width: 600px){
                        font-size: 1.6rem;  
                    }
                }
            }
        }
    }

    .home-officer{

        padding: 5rem;

        @media only screen and(max-width: 600px){
            padding: 2rem;
        }

        &--box{

            @include displayFlex(space-around, center);
            background: rgba(213,222,234,0.63);
            padding: 2rem;
            margin-bottom: 2rem;
            margin-top: 2.5rem;

            @media only screen and(max-width: 600px){
                flex-direction: column;
            }

            &--img-box{
                flex: 1;
                
                @media only screen and(max-width: 600px){
                    order: 1;
                    margin-bottom: 2rem;
                }
                
                &--img{
                    height: 20rem;
                    width: 20rem;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-left: 1.8rem;
                }
            }

            &--info{
                flex: 4;
                margin-left: 3rem;
                margin-right: 3rem;

                @media only screen and(max-width: 600px){
                    order: 2;
                }

                &--name{
                    font-size: 2.5rem;
                    color:#374353;
                }
    
                &--designation{
                    font-size: 2rem;
                    color: #5C83AA;
                    margin-bottom: 0.5rem;
                }
    
                &--description{
                    font-weight: 500;
                    line-height: 2.8rem;
                }
            }
        }
    }

    .neighbourhood{

        padding: 1rem 5rem 5rem 5rem;
        
        &--box{
            @include displayFlex(space-around, center);
            flex-wrap: wrap;

            img{
                
                @media only screen and(max-width: 700px){
                    height: 7rem;
                }
            }

            @media only screen and(max-width: 600px){
                flex-wrap: nowrap;
                flex-direction: column;
            }

        }
    }

    .home-join-box{
        text-align: center;

        &--link{
            text-decoration: none;
            display: inline-block;

            &--text{
                text-decoration: none;
                font-size: 4rem;

                .join-us-logo{
                    transition: all 0.3s;
                }

                &:hover .join-us-logo{
                    transform: rotate(45deg);
                }
            }

        }
    }

}