
.main-content-new-login{
    display: flex;
    justify-content: center;
    margin-top: 7rem;

    @media only screen and(max-width: 1050px){
        padding: 0rem 3rem;
    }

    @media only screen and(max-width: 750px){
        padding: 3rem;
        margin-top: 3rem;
    }

    .login-box{
        @include displayFlex(flex-start, flex-start);
        box-shadow: 0px 4px 15px rgba($color: #000000, $alpha: 0.25);
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        margin-bottom: 10rem;

        @media only screen and(max-width: 750px){
            border-top-left-radius: 0rem;
            border-bottom-left-radius: 0rem;
        }

        &--img-box{
            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;

            @media only screen and(max-width: 750px){
                display: none;
                border-top-left-radius: 0rem;
                border-bottom-left-radius: 0rem;
            }

            &--img{
                display: block;
                height: 45rem;
                width: 45rem;
                border-top-left-radius: 3rem;
                border-bottom-left-radius: 3rem;
                object-fit: cover;

                @media only screen and(max-width: 1050px){
                    height: 45rem;
                    width: 35rem;
                }
            }
        }

        &-form-box{

            padding: 2.5rem;

            &--title{
                margin-bottom: 1rem;
                font-weight: normal;
                font-size: 4rem;
            }

            &--quote{
                font-size: 1.8rem;
                font-style: italic;
                color: rgba($color: #000000, $alpha: 0.50);
                margin-bottom: 5rem;
            }

            &--form{

                display: flex;
                flex-direction: column;

                &-input{
                    font-family: "Quicksand", sans-serif;
                    outline: none;
                    border: 1px solid orange;
                    border-radius: 4px;
                    padding: 1.5rem 1rem;
                    margin-bottom: 1.5rem;
                    transition: all 0.3s;

                    &:focus{
                        box-shadow: 0 0 0 0.2rem rgba(orange,.5);
                    }
                }
            }
        }
    }
}

.login-flash{
    margin-top: -4rem;
}