
.create-post-wrapper{
    padding: 5rem 20rem;

    @media only screen and(max-width: 825px){
        padding: 1rem 2rem;
        margin-bottom: 5rem;
    }

    input{
        font-family: "Quicksand", sans-serif;
    }

    &--form{
        margin-top: 3rem;

        &-tag-box{
            display: flex;
            align-items: center;

            .tag-input{
                flex: 2;
            }

            a{
                text-decoration: none;
                color: #fff;
                background: #1F2833;
                padding: 1rem;
                transition: all 0.3s;
                font-weight: bold;

                @media only screen and(max-width: 825px){
                    flex: 1;
                    font-size: 1rem;
                    padding: 1.2rem;
                }

                &:hover{
                    background: #2C3E50;
                }

            }
        }
        
        &--label{
            display: inline-block;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .input-container-paral{
            @include displayFlex(flex-start, center);

            &--icon{
                height: 4rem;
                padding: 1rem 0.5rem;
                border: 1px solid #00CDB3;
            }
            
            &--input{
                background: rgba(153, 153, 153, 0.274);
                flex: 1;
                padding: 1.1rem;
                border: 1px solid #57BAE5;
                border-left: none;
                outline: none;
            }
        }
    }
}

.post-submit-btn-container{
    @include displayFlex(flex-end, center);

    &--btn{
        font-size: 1.8rem;
        font-weight: bold;
    }
}

// #fetchTags{
//     background: #333;
//     color: #fff;
// }