.profile-page{

    &-wrapper{

        @include displayFlex(flex-start, flex-start);

        @media only screen and(max-width: 550px){
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &--side-bar{

            flex: 1;
            background: #D5DEEA;
            margin-top: 0.4rem;
            padding: 1.8rem;

            @media only screen and(max-width: 550px){
                width: 80%;
                margin-top: 2rem;
            }

            &--profile{
                color: #374353;
                font-size: 2rem;
                border-bottom: 1px solid #374353;
                display: inline-block;
                padding-bottom: 0.5rem;

                .icon-profile{
                    
                }
            }

            &--img-box{
                margin-top: 2rem;
                margin-bottom: 2rem;

                &--img{
                    height: 18rem;
                    border-radius: 1rem;
                    box-shadow: 2px 2px 9px -2px rgba(0,0,0,0.75);
                }

                .pp-up-icon{
                    color: #374353;
                    margin-left: 0.5rem;
                }
            }

            &--info{

                margin-bottom: 10rem;

                @media only screen and(max-width: 550px){
                    margin-bottom: 2rem;
                }

                &--list{

                    list-style-type: none;
                    font-size: 1.8rem;
        
                    .user-color{
                        color: #5C83AA;
                        font-weight: 600; 
                    }

                    .github-link{
                        text-decoration: none;
                        font-weight: bold; 
                        color: #5C83AA;
                    }

                    .github-link:hover{
                        text-decoration: underline;
                    }

                    li{
                        margin-bottom: 0.7rem;
                    }                    
                }
            }
        }

        &--profile-box{

            flex: 4;
            margin: 2rem 3rem;

            @media only screen and(max-width: 550px){
                width: 90%;
            }

            &--main-bar{
                
                margin-bottom: 1.8rem;
                &--title{
                    padding: 0.6rem 0rem 0.6rem 3rem;
                    background: #374353;
                    font-size: 1.3rem;

                    .profile-title-text{
                        color: white;
                        font-weight: 500;
                    }
                    
                    .user-cog-color{
                        color: #5C83AA;
                    }
               }

               &--tabs{
                   
                   &--list{
                    @include displayFlex(space-around,center);
                    list-style-type: none;

                        .active{
                            background: #D5DEEA;
                            font-weight: 600;
                            border-bottom: 2px solid #5C83AA;
                        }

                        .tab-list--item{

                            flex: 1;
                            @include displayFlex(space-around,center);
                            padding: 0.8rem;
                            color: #5C83AA;
                            cursor: pointer;
                            transition: all .1s;
                            position: relative;
                        }

                        .hover-tab-item::before{
                            content: "";
                            position: absolute;
                            width: 50%;
                            height: 1px;
                            bottom: 0;
                            left: 25%;
                            background: #5C83AA;
                            transform: scaleX(0);
                            transition: all .15s  ease-in-out 0s;
                            padding-top: 1px;
                        }
                    
                        .hover-tab-item:hover::before{
                            transform: scaleX(1);
                        }

                    }

                }

            }

            .profile-page-wrapper--blog-wrapper{

                &--blog{
                    @include displayFlex(space-between,center);
                    border-bottom: 1px solid #999;
                    padding: 1.4rem;

                    &--title{

                        &--link{
                            text-decoration: none;
                            color: rgb(34, 33, 33);
                            font-size: 1.4rem;
                            font-weight: 400;

                            &:hover{
                                color: #5C83AA;
                            }
                        }
                    }

                    &--logos{
                        &--update{
                            text-decoration: none;
                            color: #374353;
                        }
    
                        &--delete{
    
                        }
                    }

                }
            }

            .tabSection{
                display: none;
            }
        }
    }
}