
.regisration-page{
    padding: 2rem;
    width: 50%;
    margin: 0 auto;

    @media only screen and(max-width: 860px){
        width: 100%;
    }
}

.registration-box{
    margin-top: 3rem;

    .icon-input-box:not(:last-child){
        margin-right: 1rem;

        @media only screen and(max-width: 460px){
            margin-right: 0rem;
        }
    }

    .icon-input-box{
        width: 100%;
        display: flex;
        margin-bottom: 1.5rem;

        i{
            background: #333;
            color: #fff;
            padding: 1.5rem 2rem;
        }

        input{
            width: 100%;
            padding: 1.5rem 2rem;
            outline: 0;
            border: 1px solid #333;
            border-left: none;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            transition: all 0.3s;

            &:focus{
                border-color: #1e90ff;
                box-shadow: 0 0 0 0.2rem rgba(#1e90ff,.5);
            }
        }
    }

    &-form{
        
        &--input-paral{
            display: flex;
            justify-content: space-between;

            @media only screen and(max-width: 460px){
                flex-direction: column;
            }
        }
    }
}

.reg-success-flash{
    background: #1e8fff44;
    color: crimson;
    border: 1px solid #999;
    text-align: center;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3)
}