
.search-container{
    @include displayFlex(flex-start, flex-start);
    padding: 2.5rem;

    &--sidebar{

        box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.25);
        
        a{
            padding: 1.5rem 5rem 1.5rem 2.5rem;;
            display: block;
            color: #000;
            text-decoration: none;
            transition: all 0.3s;

            &:hover{
                background: #333;
                color: #fff;
            }

        }
    }

    &--result {

        margin-left: 5rem;

        &-title{
            margin-bottom: 2rem;
        }

        &-post{
            display: block;
            text-decoration: none;
            color: #000;
            font-size: 2.5rem;
            border-bottom: 1px solid #333;
            padding-bottom: 1rem;
            margin-bottom: 2rem;


            &:hover{
                color: #333;
            }
        }
    }
}