.underline{
    height: 2px;
    width: 100%;;
    background: #333;
    margin: 1rem 0;
}

.error-flash{
    color: crimson;
    font-size: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}