
.main-nav-bar{

    @include displayFlex(space-between, center);

    box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.25);
    padding: 1rem 0rem;

    &--link-box{
        
        @include displayFlex(space-between, center);

        &--logo-box{

            &--logo{
                width: 24rem;
                margin-right: 1rem;
                margin-left: 1.8rem;

                @media only screen and(max-width: 545px){
                    width: 18rem;
                }
            }

        }

        &--links{

            @media only screen and(max-width: 1150px){
                display: none;
            }

            &-list{

                @include displayFlex(space-between, center);
                list-style-type: none;

                &--item{

                    a{
                        @include displayFlex(space-between, center);
                        text-decoration: none;
                        color: black;
                    }

                    &-icon{
                        height: 2.6rem;
                        margin-right: 0.5rem;
                        margin-left: 1.4rem;
                    }

                    &-icon-text{
                        font-size: 1.8rem;
                    }

                    .link-icon{
                        margin-left: 1.4rem;
                        color: #374353;
                        font-size: 2rem;

                    }

                }

            }

        }

    }

    &--btn-box{

        @include displayFlex(space-between, center);

        &--search-box{
          
            margin: 0;

            @media only screen and(max-width: 810px){
                display: none;
            }
    
            &--form{
                display: flex;
                position: relative;

                &-search {
                    font-family: "Quicksand", sans-serif;
                    border: none;
                    outline: none;
                    background: #D5DEEA;
                    padding: 1.5rem 10rem 1.5rem 1rem;
                    border-radius: 0.3rem;
                    box-shadow: 0 2px 2px rgba(#000, 0.25);
                    transition: all 0.3s;

                    &:focus{
                        border-color: #1e90ff;
                        box-shadow: 0 0 0 0.2rem rgba(#374353,.5);
                    }
                }

                .searchButton{
                    position: absolute;
                    right: 5%;;
                    top: 25%;
                    font-size: 2rem;
                    color: #647994;
                    border: none; 
                    cursor: pointer;
                    background: transparent;
                }
            }
        }

        &--btn{
            margin: 0rem 2rem;

            a{
                display: inline-block;
                margin-right: 1rem;
            }
        }

        &--profile-info{

            @include displayFlex(space-between, center);

            a{
                @include displayFlex(space-between, center);
                text-decoration: none;
                color: #000;
            }

            &--img{
                height: 4.5rem;
                width: 4.5rem;
                margin-left: 2.8rem;
                border-radius: 10%;
                object-fit: cover;
            }

            &--name{
                font-size: 1.8rem;
                font-weight: 500;
                margin-left: 1rem;
                margin-right: 1rem;
                color: #000;
            }

            .arrow-down {
                width: 0; 
                height: 0; 
                border-left: 0.8rem solid transparent;
                border-right: 0.8rem solid transparent;
                
                border-top: 0.8rem solid black;
                margin-right: 4rem;
            }

            &--dropdown-link{
                position: relative;
            }

            .showDropdown{
                display: block;
            }

            &--dropdown-content{
                position: absolute;
                top: 12%;
                right: 5%;
                background: #374353;
                display: none;

                .header-dropdown--list{
                    list-style-type: none;
                    
                    &-item{
                        padding: 1rem 3rem;

                        a{
                            color: #fff;
                        }
                    }
                }
                
                .dropdown-logout-btn{
                    font-family: "Quicksand", sans-serif;
                    font-size: 1.6rem;
                    color: #fff;
                    background: transparent;
                    outline: none;
                    border: none;
                }
            }
        }
    }

}

.extra-drpdown-btn{
    position: relative;

    .extra-drpdown-content{
        display: none;
        position: absolute;

        &-list{
            list-style-type: none;
            background: #D5DEEA;
            
            a:not(:last-child){
                border-bottom: 0.8px solid #fff;
            }

            a{
                padding: 1rem 3rem;
                
                &:hover{
                    background: #647994;
                    color: #fff;
                }

               
            }
        }
    }

    &:hover .extra-drpdown-content{
        display: block;
    }
}

