.common-paginate{
    margin-bottom: 3.5rem;

    &--list{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        .active{
            background: #374353;
            color: #fff;
            padding: 0.4rem;
            border-radius: 0.2rem;
            border-bottom-right-radius: 0.5rem;
        }

        &-item{
            margin-right: 1rem;

            .step-icon{
                font-size: 3rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            
            &--link{
                color: #76797a;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}