.margin-gutter-small{
    margin-bottom: 2rem;
}

.margin-top-small{
    margin-top: 2rem;
}

.margin-gutter-medium{
    margin-bottom: 5rem;
}

.margin-gutter-small{
    margin-bottom: 2rem;
}

.margin-gutter-large{
    margin-bottom: 10rem;
}

.margin-top-medium{
    margin-top: 5rem;
}

.margin-top-large{
    margin-top: 10rem;
}

.margin-right-medium{
    margin-right: 5rem;
}

.margin-left-medium{
    margin-left: 5rem;
}

.margin-right-small{
    margin-right: 2rem;
}